* {
	margin: 0px;
	padding: 0px;
}

body > nav {
	background-color: #eff9ff;
}

/*Get rid of useless spaces*/
h1 {
	margin: 0px;
}

/*Fix footer to bottom of page*/
html {
    position: relative;
    min-height: 100%;
}
footer {
    display:none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}